* {
    box-sizing: border-box;
}
header {
    background-color:#ffffff;
    height: 100px;
    margin-top: -28px;
    
}


body{
    margin:auto;
}

.myName {
    background-color: #4aaaa5;
    padding: 30px;
    width: 250px;
    color: white;
    height: 100px;
    margin-top: auto;
    margin-left: 15%;
    float: left;
    font-size: 30px;
    text-align:center;

}

.nav {
    background-color: #ffffff; 
    list-style-type: none;
    text-align: right;
  

   
   
}

.nav li{
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    font-family: 'Georgia';
    margin-top: 10px;
}

.block1 {
    width: 960px;
    border-color: #dddddd;
    padding: 20px;
    background-color: #ffffff;
    margin: auto;
    height: 450px;
    margin-top:4%;
}

img { float: left;
}

.header {
    font-size: 30px;
    color:#4aaaa5;
    font-family: 'Georgia';
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    height: 80px;
    border-style: solid;
    border-color: aqua;
    border-top-width: 10px;
    border-bottom-width: 0px;
    border-left-width: 0;
    border-right-width: 0;
}